# Ignore virtual environment
.venv/

# Ignore local data and experiment logs
data/
mlruns/
mlruns1/
saved_model/

# Ignore cache and system files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore images and reports
*.png
*.json
